@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap');

* {
    font-family: 'Comfortaa', cursive;
}

body {
    margin: 0;
    background-color: #2E2E2E;
}

.main-game {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    
}

.main-game div h1  {
    font-weight: bold;
    color: #ffffff;
    font-size: 50px;
}

.main-game button {
    background-color: purple;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    padding: 30px;
    font-size: 18px;
    cursor: pointer;
}

.main-game button:hover{
    background-color: #D358F7;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border-radius: 100%;
    width: 600px;
    height: 600px;
}

.genius div {
    cursor: pointer;
}

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;

}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;

}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;

}

.green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;

}

.selected {
    opacity: 0.4;
}